.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.yellow {
  border: 1px solid yellow;
}

.register-container {
  .content-right {
    border: 1px solid green;
    border-radius: 10px;
  }
}
